<!DOCTYPE html>
<html lang="it">
    <%- include('../components/head', { current: current}) %>
<body>
    <%- include('../components/header', { home: home, current: current, linksNavbar: linksNavbar }) %>
    <%- include('../components/title', { current: current, motto: motto, username: username }) %>
    
    <%- include('../components/form', { itemsAPIForms: itemsAPIForms }) %>
    
    <%- include('../components/footer', { home: home, currentYear: currentYear }) %>
</body>

</html>